body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  width: 80%;
  max-width: 800px;
  background: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: relative;
}

.timer {
  font-size: 1.2em;
  color: #fff;
  text-align: right;
  margin-bottom: 20px;
}

.question-container {
  margin-bottom: 20px;
}

.question {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #4a90e2;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  background-color: #333;
  border: 2px solid #4a90e2;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option:hover {
  background-color: #4a90e2;
  color: #fff;
  transform: scale(1.05);
}

.question-container {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.btn{
  background-color: #4a90e2;
  color: white;
  padding: 0.7rem;
  width: 5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover{
  background-color: #4a90e2;
  color: #fff;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}